---
layout: default
---

<div class="row g-0" style ="background-color:#F8F8F8; border-bottom: 1px solid  #DCDCDC;">
  <div class="col-sm-1"><a href ="/Book-C/2022/12/21/Test.html">Технологии</a></div>
  <div class="col-sm-1"><a href ="/Book-C/2022/12/21/Test1.html">Theme2</a></div>
  <div class="col-sm-1">Theme3</div>
  <div class="col-sm-1">Theme4</div>
  <div class="col-sm-1">Theme5</div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
  <div class="col-sm-1"></div>
</div>


  <div class="row g-0">
    <div class="col-sm-2" style="border-right: 1px solid  #DCDCDC;">
      {% if site.data[page.sidebar].toc[0] %}
      {% for item in site.data[page.sidebar].toc %}
        <h3>{{ item.title }}</h3>
          {% if item.subfolderitems[0] %}
            <ul>
              {% for entry in item.subfolderitems %}
                  <li><a href="{{ entry.url }}">{{ entry.page }}</a>
                    {% if entry.subsubfolderitems[0] %}
                      <ul>
                      {% for subentry in entry.subsubfolderitems %}
                          <li><a href="{{ subentry.url }}">{{ subentry.page }}</a></li>
                      {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
    {% endif %}
    </div>
    <div class="col-sm-10">
      {{ content }}
    </div>
  </div>


<div class="home">

 


<!--
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}




  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}
-->

 

</div>
